@import "tailwindcss";

:root {
  --background: #EDF0E6;
  --foreground: #1B3634;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
}
